@charset "utf-8";
@media screen and (min-width: 1200px) and (max-width: 1260px) {

    html,
    body {
        width: 100%;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    section {
        margin-bottom: 90px;
        padding: 0 4%;
    }

    header {
        display: none;
    }

    .wrapper>a>img {
        width: 150px;
        display: block;
        position: fixed;
        top: 15px;
        z-index: 2000;
    }

    .brand_info .inner .brand {
        margin: 80px 0 30px;
        width: 580px;
    }

    .brand_info .inner .brand_img {
        display: block;
        width: 555px;
        height: 520px;
    }

    .brand_info .inner .brand .text_area {
        color: #666666;
    }

    .cooperation .inner .img {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 30%;
        left: 0;
        right: 0;
    }

    .img .bg1 {
        width: 255px;
        height: 191px;
        object-fit: cover;
    }

    .img .bg2 {
        width: 255px;
        height: 191px;

    }

    .img .bg3 {
        width: 255px;
        height: 191px;

    }

    .img .bg4 {
        width: 255px;
        height: 191px;

    }

    .cooperation .inner .logo_list {
        margin-left: 6%;
    }

    .cooperation .inner .logo_list button {
        width: 190px;


    }

    /* instagram */
    .instagram {
        width: 100%;
        overflow: hidden;
        position: relative;
        margin-bottom: 30px;
    }

    .instagram .inner {
        text-align: center;
        color: #555555;
    }

    .instagram .ins_img {
        margin-top: 60px;
        float: left;
        width: 100%;

        flex-wrap: wrap;
        overflow: hidden;
    }

    .instagram .ins_img article {
        margin: 2px;
        float: left;
        overflow: hidden;
        width: 190px;
        margin-top: -2px;
    }

    .instagram .ins_img article img {
        max-width: 100%;
        transition: all 0.5 linear;
    }

    .instagram .ins_img article:hover img {
        transform: scale(1.4);

    }

    .chair .chair_text {
        width: 100%;
        word-break: keep-all;
        letter-spacing: 0.02em;
        font-size: 400;
        color: #000;
        padding: 0;
        box-sizing: border-box;

    }

    .furniture .chair {
        width: 1000%;
        margin: 0 50px;
        box-sizing: border-box;
    }

    .chair>a {
        display: block;
        width: 800px;
        padding: 0 15px;
        box-sizing: border-box;
    }

    .chair .chair_text .text_area {
        margin-top: 40px;
        font-size: 15px;
        font-weight: 600 !important;
        line-height: 25px;
        color: #666666;
        width: 530px;

    }

    /* cooperation */
    .cooperation .inner .img {
        display: flex;
        justify-content: space-between;
        position: relative;
        margin: 40px 50px;
    }

    .inner .solution .intro_text {
        margin: 40px;
    }

    .inner .solution span {
        display: block;
        margin-bottom: 20px;
    }

    .img .bg1 {
        background: url(../img/cooperation.jpg) no-repeat center/cover;
        width: 200px;
        height: 150px;
        object-fit: cover;
    }

    .img .bg2 {
        background: url(../img/cooperation2.jpg) no-repeat center/cover;
        width: 200px;
        height: 150px;
        object-fit: cover;
    }

    .img .bg3 {
        background: url(../img/cooperation3.jpg) no-repeat center/cover;
        width: 200px;
        height: 150px;
        object-fit: cover;

    }

    .img .bg4 {
        background: url(../img/cooperation4.jpg) no-repeat center/cover;
        width: 200px;
        height: 150px;
        object-fit: cover;
    }

    .cooperation .inner .logo_list {
        overflow: hidden;
        flex-wrap: wrap;
        max-width: 100%;
        margin-left: 0;

    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {

    html,
    body {
        width: 100%;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    /* header -logo */
    .wrapper .inner .tnb {
        display: none;
    }

    .wrapper a {
        display: none;
    }

    header .inner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .inner .logo {
        width: 180px;
        z-index: 20;
    }


    header .inner .menulist {
        display: block;
        width: 28px;
        position: absolute;
        right: 20px;
        top: 16px;
        word-break: keep-all;
    }

    header .inner .menulist img {
        display: block;
        width: 100%;
    }

    header .inner .mobile {
        display: block;
        background-color: #fff;
        position: absolute;
        top: 90%;
        font-size: 14px;
        text-align: center;
    }

    /* sidemenu */
    .contents {
        display: block;

    }

    .contents .sideMenu {
        z-index: 1000;
        position: fixed;
        top: 10px;
        right: -120%;
        width: 80vw;
        height: 100vh;
        background: #fff;
        /*  padding: 7.50em 0 3.750em; */
        /* padding: 120px 60px 60px / font-size: 16px*/
        box-sizing: border-box;
    }

    .contents .sideMenu .contBox {
        list-style-type: none;
        box-sizing: border-box;
        margin: 20px;
    }

    .contents .sideMenu .contBox>.top {
        font-size: 11px;
        width: 180px;
        color: #000;
        text-decoration: none;
        line-height: 50px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 40px;
    }

    .contents .sideMenu .contBox>.top img {
        display: block;
        margin-top: 16px;


    }

    .contents .sideMenu .contBox>.menulist {
        margin: 85px 20px;
    }

    .contents .sideMenu .contBox>.menulist>li {
        padding: 20px 0;
        width: 100%;
        border-bottom: 1px solid #cdcdcd;
    }


    .contents .sideMenu .contBox>.menulist>li>a {
        display: block;
        text-align: left;
    }

    .contents .sideMenu .contBox>.menulist>li>a:hover {
        color: rgb(255, 134, 78);
    }

    .contents .sideMenu .btnClose {
        display: block;
        width: 30px;
        position: absolute;
        top: -1%;
        right: 20px;
    }

    .contents .sideMenu .btnClose img {
        width: 100%;
    }

    .btnMenu {
        display: block;
        position: absolute;
        left: -60%;
        top: 2%;
        transform: translateY(-50%);
        border-radius: 10px;
        width: 30px;
        overflow: hidden;
        border: none;
        cursor: pointer;
        background: none;
    }

    .btnMenu img {
        display: block;
        width: 100%;

    }

    .inner .table {
        margin: 0;
        padding: 0;
        width: 100%;
    }


    /* swiper-slide */
    .inner .mobile .swiper-wrapper .swiper-slide {
        border: 1px solid #cdcdcd;
        padding: 3px 10px;
    }

    .logo a {
        display: block;
        width: 100%;
        height: 20px;
        background: url(../img/logo_ziatti.png )no-repeat center/contain;
    }

    .m_title {
        width: 100%;
    }

    .swiper-slide-active .m_title {
        opacity: 1;
    }

    .wrapper .inner .gnb_area {
        display: none;
    }

    .swiper .swiper-wrapper .swiper-slide {
        overflow: hidden;
        vertical-align: middle;
    }

    .swiper .swiper-wrapper .swiper-slide img {
        display: block;
        object-fit: cover;
        background-position: 30% 50%;
    }


    /* brand_info */


    .brand_info .inner {
        flex-direction: column;
    }

    .inner .brand {
        width: 100%;
    }



    /* chair */
    .furniture {
        display: flex;
        height: 700px;
        justify-content: center;
        align-items: center;

    }

    .furniture .inner {
        transform: translateX(-8%);
        width: fit-content;

    }

    .furniture .inner .chair {
        flex-direction: column;
        display: block;

    }

    .chair>a {
        display: block;
        width: 600px;
        padding: 0;

        margin-bottom: 30px;
    }

    .chair .chair_text {
        padding: 0;
    }

    .chair .chair_text .text_area {
        margin-top: 40px;
        font-size: 15px;
        font-weight: 600 !important;
        line-height: 25px;
        color: #666666;
        width: 530px;

    }

    /* table_colletion */
    .table_colletion {
        margin: 0;
        padding: 0;
    }

    .dining_table .sub_title {
        font-weight: 600 !important;
        font-family: 'MontserratB';
        display: block;
        font-size: 32px;
        text-align: center;
        color: #000;

        text-align: center;
        margin-top: 0;

    }

    .dining_table .dining {
        margin: 60px;
    }

    .dining_table .dining .bg1 {
        background: url(../img/dining\ table.jpg)no-repeat center/cover;
        object-fit: contain;
        width: 160.5px;
        height: 160.5px;
    }

    .dining_table .dining .bg2 {
        background: url(../img/dining_table2.jpg)no-repeat center/cover;
        width: 160.5px;
        height: 160.5px;
    }

    .dining_table .dining .bg3 {
        background: url(../img/dining\ table3.jpg)no-repeat center/cover;
        width: 160.5px;
        height: 160.5px;
    }

    .dining_table .dining .bg4 {
        background: url(../img/dining\ table4.jpg)no-repeat center/cover;
        width: 160.5px;
        height: 160.5px;
    }

    /* cooperation */
    .cooperation .inner .img {
        position: relative;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0;
        margin: 0;

    }

    .inner .solution .intro_text {
        margin: 40px;
        box-sizing: border-box;
    }

    .inner .solution span {
        display: block;
        margin-bottom: 20px;
        padding: 0 60px;
        word-break: keep-all;
        box-sizing: border-box;
    }

    .img .table_bg {
        margin: 30px;
        padding: 20px;
    }

    .img .bg1 {
        background: url(../img/cooperation.jpg) no-repeat center/cover;
        width: 260px;
        height: 200px;
    }

    .img .bg2 {
        background: url(../img/cooperation2.jpg) no-repeat center/cover;
        width: 260px;
        height: 200px;

    }

    .img .bg3 {
        background: url(../img/cooperation3.jpg) no-repeat center/cover;
        width: 260px;
        height: 200px;


    }

    .img .bg4 {
        background: url(../img/cooperation4.jpg) no-repeat center/cover;
        width: 260px;
        height: 200px;

        object-fit: cover;
    }

    .cooperation .inner .logo_list {
        object-fit: contain;
        padding-left: 10%;
        margin-left: 0;

    }

    .cooperation .inner .logo_list button {
        float: left;
        cursor: pointer;
        display: inline-block;
        border: #f1f1f1 solid 1px;
        text-decoration: none;
        font-size: 11px;
        height: 60px;
        width: 30%;
        box-sizing: border-box;
        display: grid;

    }

    .cooperation .inner .logo_list button>img {
        display: block;
        height: 20px;
    }

    /* material */
    .material {
        height: 220vh;
    }

    .material .inner>span {
        margin: 20px 0;
        display: block;
        text-align: center;
    }

    .material .inner .wood {
        display: block;
        flex-direction: column;
        padding-left: 14%;

    }

    .material .inner .wood .bg1 {
        width: 500px;
        height: 400px;
    }

    .material .inner .wood .bg2 {
        width: 500px;
        height: 400px;
    }

    .material .inner .wood .bg3 {
        width: 500px;
        height: 400px;
    }

    .material .inner .wood>li>a>button {
        padding: 1% 6%;
    }

    .wood>li>span {
        display: inline-block;
        font-size: 16px;

        padding: 0 15px;
        text-align: left;
    }

    /* sustainability */


    .sustainability .inner .intro {
        padding: 30px;

    }



    .inner .intro .value {
        font-size: 13.5px;
        word-break: keep-all;
        text-align: justify;
    }

    /* quelity */
    .quelity {
        background-color: #f7f7f5;
        height: 160vh;
        font-size: 14px;
    }


    .quelity .inner {
        display: block;
        flex-direction: column;
        align-items: center;
        padding-top: 10%;
    }

    .quelity .inner .warranty {
        background: url(../img/zood_w.svg)no-repeat center/contain;
        width: 100%;
        height: 700px;
    }

    .quelity .zood {
        font-size: 14px;
        width: 100%;
        text-align: left;
        padding-left: 140px;
        margin-top: 6%;
    }

    .quelity .zood .zood_care {
        color: #000;
        font-weight: 400;
        margin-bottom: 10%;
    }

    .quelity .zood .zood_area {
        padding: 16px 10px;
        background: #555555;
        color: #fff;
        width: 32%;
        text-align: center;

    }

    .quelity .zood img {
        display: block;
        width: 40%;
        margin-bottom: 30px;
    }

    /* instagram */

    .instagram .inner {
        text-align: center;
        color: #555555;
    }

    .instagram .ins .sub_title {
        margin-top: 80px;
        margin-bottom: 40px;
    }

    .instagram .ins_img {
        float: left;
        width: 900px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        overflow: hidden;
        margin-bottom: 10%;
    }

    .instagram .ins_img article {
        width: 120px;
    }

    .instagram .ins_img article img {
        max-width: 100%;
        transition: all 0.5 linear;
    }

    .instagram .ins_img article:hover img {
        transform: scale(1.4);

    }

    .contents {
        display: none;
    }


}


























































@media screen and (max-width: 769px) {

    html,
    body {
        width: 100%;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    /* header -logo */
    .wrapper .inner .tnb {
        display: none;
    }

    .wrapper a {
        display: none;
    }

    header .inner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .inner .logo {
        width: 180px;
        z-index: 20;

    }


    header .inner .menulist {
        display: block;
        width: 28px;
        position: absolute;
        right: 20px;
        top: 16px;
        word-break: keep-all;
    }

    header .inner .menulist img {
        display: block;
        width: 100%;
    }




    header .inner .mobile {
        display: block;
        background-color: #fff;
        position: absolute;
        top: 90%;
        font-size: 14px;

        text-align: center;

    }

    .swiper .main_text {
        font-size: 28px;
    }

    #img-one {
        content: url('../img/mobilemain1.jpg');
    }

    #img-two {
        content: url('../img/mainmobile2.jpg');
    }

    #img-three {
        content: url('../img/mobilemain3.jpg');
    }

    #img-four {
        content: url('../img/mobilemain4.jpg');
    }

    #img-five {
        content: url('../img/mobilemain5.jpg');
    }

    #img-six {
        content: url('../img/mobilemain6.jpg');
    }

    #img-seven {
        content: url('../img/mobilemain7.jpg');
    }

    #img-seven {
        content: url('../img/mobilemain7.jpg');
    }

    #img-eight {
        content: url('../img/mobilemain8.jpg');
    }

    #img-nine {
        content: url('../img/mobilemain9.jpg');
    }

    #img-ten {
        content: url('../img/mobilemain10.jpg');
    }

    /* sidemenu */
    .contents {
        display: block;

    }

    .contents .sideMenu {
        z-index: 1000;
        position: fixed;
        top: 10px;
        right: -120%;
        width: 80vw;
        height: 100vh;
        background: #fff;
        /*  padding: 7.50em 0 3.750em; */
        /* padding: 120px 60px 60px / font-size: 16px*/
        box-sizing: border-box;
    }

    .contents .sideMenu .contBox {
        list-style-type: none;
        box-sizing: border-box;
        margin: 20px;
    }

    .contents .sideMenu .contBox>.top {
        font-size: 11px;
        width: 180px;
        color: #000;
        text-decoration: none;
        line-height: 50px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 40px;
    }

    .contents .sideMenu .contBox>.top img {
        display: block;
        margin-top: 16px;


    }

    .contents .sideMenu .contBox>.menulist {
        margin: 85px 20px;
    }

    .contents .sideMenu .contBox>.menulist>li {
        padding: 20px 0;
        width: 100%;
        border-bottom: 1px solid #cdcdcd;
    }


    .contents .sideMenu .contBox>.menulist>li>a {
        display: block;
        text-align: left;
    }

    .contents .sideMenu .contBox>.menulist>li>a:hover {
        color: rgb(255, 134, 78);
    }

    .contents .sideMenu .btnClose {
        display: block;
        width: 30px;
        position: absolute;
        top: -1%;
        right: 20px;
    }

    .contents .sideMenu .btnClose img {
        width: 100%;
    }

    .btnMenu {
        display: block;
        position: absolute;
        left: -60%;
        top: 2%;
        transform: translateY(-50%);
        border-radius: 10px;
        width: 30px;
        overflow: hidden;
        border: none;
        cursor: pointer;
        background: none;
    }

    .btnMenu img {
        display: block;
        width: 100%;

    }

    .inner .table {
        margin: 0;
        padding: 0;
        width: 100%;
    }


    /* swiper-slide */
    .inner .mobile .swiper-wrapper .swiper-slide {
        border: 1px solid #cdcdcd;
        padding: 3px 10px;
    }

    .logo a {
        display: block;
        width: 100%;
        height: 20px;
        background: url(../img/logo_ziatti.png )no-repeat center/contain;
    }

    .m_title {
        width: 100%;
    }

    .swiper-slide-active .m_title {
        opacity: 1;
    }

    .wrapper .inner .gnb_area {
        display: none;
    }

    .swiper .swiper-wrapper .swiper-slide {
        overflow: hidden;
        vertical-align: middle;
    }

    .swiper .swiper-wrapper .swiper-slide img {
        display: block;
        object-fit: cover;
        background-position: 30% 50%;
    }


    /* brand_info */


    .brand_info .inner {
        flex-direction: column;
    }

    .inner .brand {
        width: 100%;
    }



    /* chair */
    .furniture {
        display: flex;
        height: 700px;
        justify-content: center;
        align-items: center;

    }

    .furniture .inner {
        transform: translateX(-8%);
        width: fit-content;

    }

    .furniture .inner .chair {
        flex-direction: column;
        display: block;

    }

    .chair>a {
        display: block;
        width: 600px;
        padding: 0;

        margin-bottom: 30px;
    }

    .chair .chair_text {
        padding: 0;
    }

    .chair .chair_text .text_area {
        margin-top: 40px;
        font-size: 15px;
        font-weight: 600 !important;
        line-height: 25px;
        color: #666666;
        width: 530px;

    }

    /* table_colletion */
    .table_colletion {
        margin: 0;
        padding: 0;
    }

    .dining_table .sub_title {
        font-weight: 600 !important;
        font-family: 'MontserratB';
        display: block;
        font-size: 32px;
        text-align: center;
        color: #000;

        text-align: center;
        margin-top: 0;

    }

    .dining_table .dining {
        margin: 60px;

    }

    .dining_table .dining .table_bg {
        margin-right: 10px;
    }

    .dining_table .dining .bg1 {

        object-fit: contain;
        width: 160px;
        height: 150px;
    }

    .dining_table .dining .bg2 {

        width: 160px;
        height: 150px;
    }

    .dining_table .dining .bg3 {
        width: 160px;
        height: 150px;
    }

    .dining_table .dining .bg4 {

        width: 160px;
        height: 150px;
    }

    /* cooperation */
    .cooperation .inner .img {
        position: relative;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0;
        margin: 0;

    }

    .inner .solution .intro_text {
        margin: 40px;
        box-sizing: border-box;
    }

    .inner .solution span {
        display: block;
        margin-bottom: 20px;
        padding: 0 60px;
        word-break: keep-all;
        box-sizing: border-box;
    }

    .img .table_bg {
        margin: 20px;
    }

    .img .bg1 {
        background: url(../img/cooperation.jpg) no-repeat center/cover;
        width: 210px;
        height: 180px;
    }

    .img .bg2 {
        background: url(../img/cooperation2.jpg) no-repeat center/cover;
        width: 210px;
        height: 180px;

    }

    .img .bg3 {
        background: url(../img/cooperation3.jpg) no-repeat center/cover;
        width: 210px;
        height: 180px;


    }

    .img .bg4 {
        background: url(../img/cooperation4.jpg) no-repeat center/cover;
        width: 210px;
        height: 180px;

        object-fit: cover;
    }



    .cooperation .inner .logo_list button {

        cursor: pointer;
        display: inline-block;
        border: #f1f1f1 solid 1px;
        text-decoration: none;
        font-size: 11px;
        height: 60px;
        width: 30%;
        box-sizing: border-box;
        display: grid;

    }

    .cooperation .inner .logo_list button>img {
        display: block;
        height: 20px;
    }

    header .inner .menulist {
        display: block;
        width: 28px;
        position: absolute;
        right: 20px;
        top: 16px;
        word-break: keep-all;
    }




}